<!-- recovery_passwd -->
<form id="change" style="margin-left: 450px;">
	<p class="listing" align="left"><i class="fa fa-chevron-right" aria-hidden="true"></i>Change password</p><br>
	<div style="margin-bottom: 25px" class="input-group">
		<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
		<input type="text" name="" class="form-control" id="email_change" placeholder="write your email" style="width: 350px;">
	</div>
	<div style="margin-bottom: 25px" class="input-group">
		<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
		<input type="text" name="" class="form-control" id="password1" placeholder="write your new password" style="width: 350px;">
	</div>
	<div style="margin-bottom: 25px" class="input-group">
		<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
		<input type="text" name="" class="form-control" id="password2" placeholder="repeat your password" style="width: 350px;">
	</div>						
	<div class="form-group">
		<button type="button" class="btn btn-success" id="btn_change">Submit</button>
	</div>
</form>