<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- return items -->
                <a href=""  ng-click="return_to_items()"><button type="button" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-arrow-left"></i> Back</button></a>
            <!-- return items -->
            <div class="panel panel-primary" style="width: 1200px;">
                <div class="panel-heading">
                    <!-- <span class="glyphicon glyphicon-list"></span> -->Forum Freelancer
                </div>
				
                <div class="panel-body" style="width: 1200px;" ng-show="forum">
                	<button type="submit" class="btn" style="background:#337ab7; color: white; margin-bottom: 10px;" ng-click="submit_item()">Add item</button>
					<form id="form_forum" name="form_forum" ng-show="addItem">
						<div style="margin-bottom: 25px" class="input-group">
                			<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                			<input required type="text" id="input_item" name="input_item" ng-model="input_item" class="form-control" placeholder="Write your item" value="" ng-pattern="/^.{4,20}$/">
	                	</div>
	                	<p>
							<span class="text-danger" ng-show="form_forum.input_item.$error.required && (form_forum.input_item.$dirty || form_forum.input_item.$touched)">El campo item es obligatorio</span>
							<span class="text-danger" ng-show="form_forum.input_item.$error.pattern">Item no válido</span>
						</p>

	                	<div style="margin-bottom: 25px" class="input-group">
	                		<textarea required id="input_comment" name="input_comment" ng-model="input_comment" cols="150" rows="5" placeholder="Write your comment" ng-pattern="/^.{10,250}$/"></textarea>
	                	</div>
	                	<p>
							<span class="text-danger" ng-show="form_forum.input_comment.$error.required && (form_forum.input_comment.$dirty || form_forum.input_comment.$touched)">El campo comentario es obligatorio</span>
							<span class="text-danger" ng-show="form_forum.input_comment.$error.pattern">Comment no válido</span>
						</p>

	                	<button type="submit" class="btn" style="background:#337ab7; color: white; margin-bottom: 10px;" ng-click="submit_comment()" ng-show="form_forum.input_item.$valid && form_forum.input_comment.$valid">Submit comment</button>
					</form>
                	
                    <ul class="list-group" ng-repeat="item in filtered_items" >
                        <li class="list-group-item" style="min-height: 20px;" >
                            <i class="glyphicon glyphicon-list"></i><a href="" ng-click="show_comment(item.item)" style="font-size: 25px;"> {{item.item}}</a> 
                            <p style="display: block;">created by {{item.name}}</p>
                            <p style="display: block;">date: {{item.date}}</p>
                            
                        </li>
                    </ul>

                </div>
                <!-- comments -->
                <div class="panel-body" style="width: 1200px;" ng-show="forum_comments" ng-repeat="item in filtered_comments">
                    <!-- container date -->
                    <div class="col-md-16" style="background: #337ab7; width: 1165px; height: 30px; color:white;">
                        <i class="glyphicon glyphicon-comment" style="color:white;padding: 5px;"></i> {{item.date}}
                    </div>
                    <!-- container data user -->
                    <div class="col-md-6" style="background: #ccddff; width: 190px; height: 150px;">
                        <img src="{{item.avatar}}" alt="" style="margin-left: 40px;margin-top: 7px;" class="img-circle img-responsive" height="80" width="80">
                        <p align="center">{{item.name}}</p>
                        <p align="center">
                            <i class="glyphicon glyphicon-user"></i> {{item.karma}}
                        </p>
                    </div>

                    <!-- container comment -->
                    <p class="col-md-10" style="background: #80aaff;height: 150px;">{{item.comment}}</p>
                    
                    <!-- button answer -->
                    <div class="col-md-6" style="background: #ccddff; width: 190px; height: 30px;"></div>
                    <p class="col-md-10" style="background: #80aaff;height: 30px;">
                        <button type="submit" style="display: block; float:right;" ng-click="show_form_answer(item.item)">Responder</button>
                        <button type="submit" style="display: block; float:right;" ng-if="delete_comment==true" ng-click="submit_delete_comment(item.id, item.item)">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                        <button type="submit" ng-click="submit_like(item.id, item.item)"><i class="glyphicon glyphicon-thumbs-up"></i> {{item.num_like}}</button>
                        <!-- <a style="" ng-repeat="test in comments"></a> -->
                    </p>
                    <!-- button answer -->

                </div>
                <!-- comments -->
                
                <!-- answer -->
                <form id="form_answer" name="form_answer" ng-show="addItems" style="margin-left: 18px;">
                    <div style="margin-bottom: 25px" class="input-group">
                        <textarea required id="input_answer" name="input_answer" ng-model="input_answer" cols="115" rows="5" placeholder="Write your comment" ng-pattern="/^.{10,250}$/"></textarea>
                    </div>
                    <p>
                        <span class="text-danger" ng-show="form_answer.input_answer.$error.required && (form_answer.input_answer.$dirty || form_answer.input_answer.$touched)">El campo comentario es obligatorio</span>
                        <span class="text-danger" ng-show="form_answer.input_answer.$error.pattern">Comment no válido</span>
                    </p>

                    <button type="submit" class="btn" style="background:#337ab7; color: white; margin-bottom: 10px;" ng-click="submit_answer(form_answer.input_answer)" ng-show="form_answer.input_answer.$valid">Submit answer</button>
                </form>
                <!-- answer -->
                
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <h6>
                                Total items <span class="label label-success">{{commentsGrupBy.length}}</span></h6>
                        </div>
                        <!-- pagination -->
                        <div id="pager" ng-show="page_items">
                            <uib-pagination class="pagination-sm pagination" total-items="commentsGrupBy.length" ng-model="currentPage"
                            ng-change="page_changed()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=3></uib-pagination>        
                        </div>
                        <div id="pager" ng-show="page_comments">
                            <uib-pagination class="pagination-sm pagination" total-items="answers.length" ng-model="currentPage"
                            ng-change="page_changed_comments()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=3></uib-pagination>        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
