<div class="site-panel" style="margin-top:110px">
    <div class="container">
        <div class="row">
                <div class="col-md-3 well hidden-xs">
                    <div class= "sidebar">
                        <div class="list-group">
							<a href="#/profile" class="item_menu_profile">Mis Datos</a>
							<a href="#/profile/my_favourites" class="item_menu_profile">Mis favoritos</a>
							<a href="#/profile/my_rank" class="item_menu_profile">Mi rango</a>
						  
						</div> 
                    </div>
                </div>
                <div class="col-md-9 ">
                    <div class= "content-box well">
                     	<legend>MY PROFILE  </legend>

						<div class="container">
							<div class="row">
								<div class="col-md-6">
								    <div class=" clearfix">
								    	<!--<div ng-repeat="item in likes_freelancer">
								    		<a href="#/freelancer/{{item.dni}}">Te gusta {{item.name}}</a>
								    	</div>-->
								    	<div class="list-group" >
								        	<div id="listar" ng-repeat="item in filtered" >
											    <div class="list-group-item" >
											    	<div class="media col-md-3">
											    		<figure class="">
											    			<img class="media-object img-rounded img-responsive" src="{{item.avatar}}" alt="" height="150" width="150">
											    		</figure>
													</div>
													<div class="col-md-6">
														<h4 class="list-group-item-heading list_cat" id="{{item.categ_prof}}">{{item.categ_prof}}</h4>
														<p class="list-group-item-text list_esp" id="{{item.especialista}}">Especialista: {{item.especialista}}</p>
													</div>
													<div class="col-md-3 ">
														<a href='#/freelancer/{{item.dni}}' class="btn btn-default btn-lg btn-block buttonDetails">Details</a>
													</div>
												</div>
											    
								        	</div>
								        	<p align="center"> Total Results: {{val.length}} freelancer<p>
								        	<div id="pager" align="center">
							                    <uib-pagination class="pagination-sm pagination" total-items="val.length" ng-model="currentPage"
							                    ng-change="page_change()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=2></uib-pagination>        
							                </div>
								        	
								        			          
								        </div>
										

								    </div>
								    	
								</div>

							</div>

						</div>
          
                    </div>
			    </div>
		</div>
	</div>
</div>

