<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css" />
<div class="site-panel" style="margin-top:110px">
    <div class="container">
        <div class="row">
                <div class="col-md-3 well hidden-xs">
                    <div class= "sidebar">
                        <div class="list-group">
						  <a href="#/profile" class="item_menu_profile active">Mis Datos</a>
						  <a href="#/profile/my_favourites" class="item_menu_profile">Mis favoritos</a>
						  <a href="#/profile/my_rank" class="item_menu_profile">Mi rango</a>
						 
						</div> 
                    </div>
                </div>
                <div class="col-md-9 ">
                    <div class= "content-box well">
                     	<legend>MY PROFILE  </legend>

						<div class="container">
							<div class="row">
								<div class="col-md-6">
								    <div class=" clearfix">
								        
								        <form id="form_update" name="form_update">
								            <div style="margin-bottom: 25px" class="input-group">
								            	<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								            	<input required ng-model="inputName" id="inputName" name="inputName" type="text" class="form-control" ng-init="inputName=name" value="" placeholder="name" ng-pattern="/^.{4,20}$/">
								            </div>
								            <p>
									        	<span class="text-danger" ng-show="form_update.inputName.$error.required && (form_update.inputName.$dirty || form_update.inputName.$touched)">El campo es obligatorio</span>
									            <span class="text-danger" ng-show="form_update.inputName.$error.pattern">Nombre no válido</span>
									        </p>
								            <div style="margin-bottom: 25px" class="input-group">
								            	<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								            	<input required id="inputLast_name" ng-model="inputLast_name" type="text" class="form-control" name="inputLast_name" ng-init="inputLast_name=last_name" value="" placeholder="last name" ng-pattern="/^.{4,20}$/">
								            </div>
								            <p>
									        	<span class="text-danger" ng-show="form_update.inputLast_name.$error.required && (form_update.inputLast_name.$dirty || form_update.inputLast_name.$touched)">El campo es obligatorio</span>
									            <span class="text-danger" ng-show="form_update.inputLast_name.$error.pattern">Apellidos no válidos</span>
									        </p>
								            	<md-datepicker required id="inputBirthday" ng-model="inputBirthday" ng-change="format_date_birthday(inputBirthday)" type="date" name="inputBirthday" ng-init="inputBirthday=birthday" value="" md-placeholder="Enter birthday date"></md-datepicker>
								            
								            <p>
									        	<span class="text-danger" ng-show="form_update.inputBirthday.$error.required && (form_update.inputBirthday.$dirty || form_update.inputBirthday.$touched)">El campo es obligatorio</span>
									            <span class="text-danger" ng-show="form_update.inputBirthday.$error.pattern">Fecha no válida</span>
									        </p>
								            <div style="margin-bottom: 25px" class="input-group">
								            	<md-datepicker required id="inputExpiration" ng-model="inputExpiration" ng-change="format_date_expDni(inputExpiration)" type="date" name="inputExpiration" ng-init="inputExpiration=exp_dni" value="" md-placeholder="Enter expiration dni"></md-datepicker>
								            	
								            </div>
								            <p>
									        	<span class="text-danger" ng-show="form_update.inputExpiration.$error.required && (form_update.inputExpiration.$dirty || form_update.inputExpiration.$touched)">El campo es obligatorio</span>
									            <span class="text-danger" ng-show="form_update.inputExpiration.$error.pattern">Fecha no válida</span>
									        </p>
								            <div style="margin-bottom: 25px" class="input-group">
								            	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
								            	<!--<input id="email" type="text" class="form-control" name="email" value="{{email}}" placeholder="email">-->
								            	<input required id="inputEmail" ng-model="inputEmail" type="text" class="form-control" name="inputEmail" ng-init="inputEmail=email" value="" placeholder="email" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i">
								            </div>
								            <p>
									        	<span class="text-danger" ng-show="form_update.inputEmail.$error.required && (form_update.inputEmail.$dirty || form_update.inputEmail.$touched)">El campo es obligatorio</span>
									            <span class="text-danger" ng-show="form_update.inputEmail.$error.pattern">Email no válido</span>
									        </p>
								            <div style="margin-bottom: 25px" class="input-group">
								            	<span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
								            	<!--<input id="phone" type="text" class="form-control" name="phone" value="{{phone}}" placeholder="phone">-->
								            	<input required id="inputPhone" ng-model="inputPhone" type="text" class="form-control" name="inputPhone" ng-init="inputPhone=phone" value="" placeholder="phone" ng-pattern="/^[0-9]{9}$/">
								            </div>
								    		<p>
									        	<span class="text-danger" ng-show="form_update.inputPhone.$error.required && (form_update.inputPhone.$dirty || form_update.inputPhone.$touched)">El campo es obligatorio</span>
									            <span class="text-danger" ng-show="form_update.inputPhone.$error.pattern">Telefono no válido</span>
									        </p>

								            <div class="form-group">
						                        <label class="w3ls-opt">Community:</label><br />
						                        <select>
						                        	<option ng-repeat="item in community" ng-model="combo" id="{{item.CCOM}}" ng-selected="item.CCOM==id_community" ng-click="get_province(item.CCOM)" >{{item.COM}}</option>
						                        </select>
						                    </div>
						                    <br />
						                    <div class="form-group">
						                        <label class="w3ls-opt">Province:</label><br />
						                        <select>
						                        	<option ng-repeat="item in province" ng-click="get_city(item.CPRO)" ng-selected="item.CPRO==id_province">{{item.PRO}}</option>
						                        </select>
						                        
						                    </div>
						                    <br />
						                    <div class="form-group">
						                        <label class="w3ls-opt">City:</label><br />
						                        <select>
						                        	<option ng-repeat="item in city" id="{{item.CMUM}}" ng-click="obtain_city(item.CMUM)"  ng-selected="item.CMUM==id_city">{{item.DMUN50}}</option>
						                        </select>
						                    </div>
						                    <br />

								            <div style="margin-bottom: 25px" class="input-group">
								              <fieldset>
											    <h4>Select Languages: </h4>
											    <div >
												   	<p style="float: left;">
												        <input type="checkbox" id="check_lang1" name="check_lang1" class="checkbox" value="{{lang1}}" ng-checked="checked1"/>{{lang1}}
												    </p>
												    <p style="float: left;">
												        <input type="checkbox" id="check_lang2" name="check_lang2" class="checkbox" value="{{lang2}}" ng-checked="checked2"/>{{lang2}}
												    </p>
												    <p style="float: left;">
												    	<input type="checkbox" id="check_lang3" name="check_lang3" class="checkbox" value="{{lang3}}" ng-checked="checked3"/>{{lang3}}
												   	</p>
												    <p style="float: left;">
												    	<input type="checkbox" id="check_lang4" name="check_lang4" class="checkbox" value="{{lang4}}" ng-checked="checked4"/>{{lang4}}
												    </p>
											    </div>
											  </fieldset>
											</div>
											  
											<h4>Avatar: </h4>
											<div class="msg"></div>
											<!--<div id="dropzone" style="margin-bottom: 25px"></div>-->
											<div id="dropzone" dropzone="dropzoneConfig" class="dropzone"></div>

								            <button type="button" class="btn btn-success" id="Client" ng-click="submit_update()" ng-show="form_update.inputName.$valid && form_update.inputLast_name.$valid && form_update.inputBirthday.$valid && form_update.inputExpiration.$valid && form_update.inputEmail.$valid && form_update.inputPhone.$valid">Update</button>

								        </form>
										
								    </div>
								    	
								</div>

							</div>

						</div>
          
                    </div>
			    </div>
		</div>
	</div>
</div>

