<div class="site-panel" style="margin-top:110px">
    <div class="container">
        <div class="row">
                <div class="col-md-3 well hidden-xs">
                    <div class= "sidebar">
                        <div class="list-group">
							<a href="#/profile" class="item_menu_profile">Mis Datos</a>
							<a href="#/profile/my_favourites" class="item_menu_profile">Mis favoritos</a>
							<a href="#/profile/my_rank" class="item_menu_profile">Mi rango</a>
						  
						</div> 
                    </div>
                </div>
                <div class="col-md-9 ">
                    <div class= "content-box well">
                     	<legend>MY PROFILE  </legend>

						<div class="container">
							<div class="row">
								<div class="col-md-6">
								    <div class=" clearfix">
								    	<div class="list-group" >
								    		<!-- points totales = rango usuario -->
								    		<img src="{{avatar}}" alt="" height="80" width="80" class="img-circle img-responsive" style="margin-bottom: 5px;">
								    		<p class="label" style="background: #18ba60;">{{total_points}} points total </p><br><br>

								    		<!-- medallas obtenidas por el usuario -->
								    		<div align="center" style="background: white;border-radius: 15px;padding: 7px; margin-bottom: 15px; ">
								    			<p>MEDALLAS POR NUMEROS DE COMENTARIOS EN EL FORO</p>
												<div ng-show="nothing_comment">Aún por conseguir. Complétalas para conseguir más puntos</div>
												<img src="/freelancer/backend/media/medalla_brounce.png" ng-show="rank_brounce" height="50" width="50">
												<img src="/freelancer/backend/media/medalla_plata.png" alt="" ng-show="rank_plata" height="50" width="50">
												<img src="/freelancer/backend/media/medalla_gold.png" alt="" ng-show="rank_gold" height="50" width="50">
								    		</div>

								    		<div align="center" style="background: white;border-radius: 15px;padding: 7px; margin-bottom: 15px; ">
								    			<p>MEDALLAS POR ITEMS CREADOS EN EL FORO</p>
												<div ng-show="nothing_item">Aún por conseguir. Complétalas para conseguir más puntos</div>
												<img src="/freelancer/backend/media/medalla_brounce.png" ng-show="rank_brounce_items" height="50" width="50">
												<img src="/freelancer/backend/media/medalla_plata.png" alt="" ng-show="rank_plata_items" height="50" width="50">
												<img src="/freelancer/backend/media/medalla_gold.png" alt="" ng-show="rank_gold_items" height="50" width="50">
											</div>

											<div align="center" style="background: white;border-radius: 15px;padding: 7px; margin-bottom: 15px; ">
								    			<p>MEDALLAS POR LIKES FREELANCER</p>
												<div ng-show="nothing_likes">Aún por conseguir. Complétalas para conseguir más puntos</div>
												<img src="/freelancer/backend/media/medalla_brounce.png" ng-show="rank_brounce_likes" height="50" width="50">
												<img src="/freelancer/backend/media/medalla_plata.png" alt="" ng-show="rank_plata_likes" height="50" width="50">
												<img src="/freelancer/backend/media/medalla_gold.png" alt="" ng-show="rank_gold_likes" height="50" width="50">
											</div>
											<p>Freelancers votados</p>
											<div ng-repeat="items in name_votados">
												<!-- <p>{{items.dni_freelancer}}</p> -->
												<a href='#/freelancer/{{items.dni_freelancer}}' class="btn btn-default btn-lg btn-block buttonDetails">Details freelancer {{$index}} votado</a>
											</div>
											
		          
								        </div>
								    </div>    	
								</div>
							</div>
						</div>
                    </div>
			    </div>
		</div>
	</div>
</div>

