<link href="frontend/assets/css/rating-stars.css" rel="stylesheet" id="bootstrap-css">
<script src="frontend/assets/js/stars-rating.js"></script>

<section id="contact-page">
    <div class="container">
        <div class="row contact-wrap"> 
            <div id="content">
                <div class="confDetail">
                   <div class="col-md-10 ">

                    <div class="panel panel-default" >
                      <div class="panel-heading">  <h4 >Details Profile</h4></div>
                       <div class="panel-body">
                           
                        <div class="box box-info">
                                <div class="box-body">
                                    <div class="col-sm-6">
                                        <div  align="center" id="imgAvatar"><img src="{{user.avatar}}" alt="" height="200" width="200" class="img-circle img-responsive"></div>
                                        <br>
                                        <button type="submit" ng-click="submit_like(user.dni)" class="btn btn-success" style="margin-left: 115px;"><div class="glyphicon glyphicon-thumbs-up"></div></button><button type="submit" ng-click="submit_stop_like(user.dni)" class="btn btn-warning" style="">Ya no me gusta</button><br>
                                        <p style="margin-left: 115px;">{{user.name}} tiene {{likes}} me gusta</p>
                                    </div>
                                <div class="col-sm-6" id="nombreUsu">{{user.name}} {{user.last_name}}</div>
                                <div class="col-sm-6" id="categ_prof">{{user.categ_prof}}</div>

                                <!-- rating stars freelancer -->
                                <div id="rating_freelancer" class="col-md-4" ng-controller="rating_controller">
                                    <div class="wthree-contact-form" >
                                        <input ng-model="test" id="test" name="test" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1" value="2">
                                        <div>Ha sido votado {{num_votaciones}} veces</div>
                                    <div>Este usuario tiene una media de {{media}}</div>
                                        <input type="submit" ng-click="get_stars()" value="VALUE" class="submitRating_stars">
                                    </div>

                                </div>
                                <!-- rating stars freelancer -->
                                
                                <div class="clearfix"></div>
                                <hr style="margin:5px 0 5px 0;">

                                <div class="col-sm-2 col-xs-6 tital " ><i class="glyphicon glyphicon-calendar"></i></div><div class="col-sm-6" id="date_up">{{user.date_up}}</div>
                                <div class="clearfix"></div>
                                
                                
                                <div class="col-sm-2 col-xs-6 tital " ><i class="glyphicon glyphicon-envelope"></i></div><div class="col-sm-7" id="email">{{user.email}}</div>
                                <div class="clearfix"></div>
                                
                                <div class="col-sm-2 col-xs-6 tital " ><i class="glyphicon glyphicon-phone"></i></div><div class="col-sm-7" id="phone">{{user.phone}}</div>
                                <div class="clearfix"></div>
                                
                                <div class="col-sm-2 col-xs-6 tital " ><i class="glyphicon glyphicon-map-marker"></i></div><div class="col-sm-7" id="city">{{user.city}}</div>
                                <div class="clearfix"></div>

                                <div class="col-sm-2 col-xs-6 tital " >Specialist:</div><div class="col-sm-7" id="specialist">{{user.especialista}}</div>
                                <div class="clearfix"></div>

                                <div class="col-sm-2 col-xs-6 tital " >Matters:</div><div class="col-sm-7" id="matters">{{user.materia}}</div>
                                <div class="clearfix"></div>
                                <hr style="margin:5px 0 5px 0;">
                                <div class="col-sm-9" id=""><div id="mapholder" style="float: left;"></div></div>

                                <!-- /.box-body -->
                              </div>
                              <!-- /.box -->
                              
                            </div>
                               <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7pK8OLDa9EXwpugryUfoX1-yKoaoJBiE" async defer></script>
                              
                        </div>

                        </div>

                    </div>           
               </div>   
            </div>
            <!--<script type="text/javascript" src="<?php echo JS_PATH ?>load_data.js" ></script>
            <script type="text/javascript" src="<?php echo HOME_JS_PATH ?>geolocation.js" ></script>
            <script type="text/javascript" src="<?php echo HOME_JS_PATH ?>paintDetails.js" ></script>-->
        </div>
    </div>
</section>