<!-- carousel -->
<div ng-controller="CarouselDemoCtrl">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" style="background:#333;">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="height: 499px; width: 100%;">
      </div>
    </div>
</div>
<!-- carousel -->

<!-- typeahead -->
<div class='panel-heading well' ng-controller="TypeaheadCtrl" align="center">
	<h2>Look Experts</h2><br>
	<div class="input-group" >
	    <p><input type="text" ng-model="selected" uib-typeahead="state for state in states" class="comboSearch">
		<button type="submit" ng-click="getVal()" class="btn btn-info" style="float: right;">Search</button></p>
			
		</div>
	</div>
</div>
<!-- typeahead -->

<!-- banner bottom -->
<div class="welcome">
	<div class="container">
		<div class="col-md-6 welcome_left">
			<div class="layer1">
				<div class="welcome_left_info">
					<h3>We offer best services</h3>
					<p>Lorem ipsum dolor sit amet aueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus. Etiam malesuada tellus quis posuere eleifend. Donec varius nisi at</p>
					<div class="read">
						<a href="#">Read more »</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 welcome_right">
			<div class="inner_grid1">
				<div class="col-md-2 icon color1">
					<span class="fa fa-file-o" aria-hidden="true"></span>
				</div>
				<div class="col-md-10 grid_info">
					<h3>Financial Executive</h3>
					<p>Lorem ipsum dolor sit amet aueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus. Etiam malesuada tellus quis posuere eleifend. Donec varius nisi at</p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="inner_grid1">
				<div class="col-md-2 icon color2">
					<span class="fa fa-diamond" aria-hidden="true"></span>
				</div>
				<div class="col-md-10 grid_info">
					<h3>Management System</h3>
					<p>Lorem ipsum dolor sit amet aueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus. Etiam malesuada tellus quis posuere eleifend. Donec varius nisi at</p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="inner_grid1">
				<div class="col-md-2 icon color3">
					<span class="fa fa-line-chart" aria-hidden="true"></span>
				</div>
				<div class="col-md-10 grid_info">
					<h3>Business Analytics</h3>
					<p>Lorem ipsum dolor sit amet aueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus. Etiam malesuada tellus quis posuere eleifend. Donec varius nisi at</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //banner bottom -->

<!-- Professional Freelancer -->
<div class="team" id="team">
	<h3 class="heading">Professional Freelancer</h3>
	<div class="container">
		<div ng-controller="best_freelancer_controller">
		    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" style="background:none;">
		      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
		        <img ng-src="{{slide.image}}" style="height: 150px; width: 220px; margin-left: 300px; margin-bottom: 40px;" class="img-circle img-responsive">
		        <table style="margin-left: 365px;margin-bottom: 40px;">
		        	<thead>
		        		<tr>
		        			<th>{{slide.name}}</th>
		        		</tr>
		        	</thead>
		        	<tbody>
		        		<tr>
		        			<td>{{slide.category}}</td>
		        		</tr>
		        	</tbody>
		        </table>
		        <a href='#/freelancer/{{slide.dni}}' class="btn btn-success">Details</a>
		      </div>
		    </div>
		</div>

	</div>
</div>
<!-- Professional Freelancer -->

<!-- Categories -->
<div class="services" id="services">
	<h3 class="heading">Categories</h3>
	<div class="container-fluid">
		<div class="services_grids" infinite-scroll='more()' infinite-scroll-distance='2'>
			<div id="categories" ng-repeat="list in items" >
				<div class="col-md-5 ser_grid1 category" id="{{list}}" style="margin-left:100px;">
					<a href='#/list_categories/{{list}}' ng-click="submit_cont(list)">
						<img src="http://localhost/freelancer/frontend/assets/media/{{list}}.jpg" alt="" id="clickCategory" height="400" width="500" />
						<div class="ser_info">
							<i class="fa icon fa-suitcase"></i>
							<!-- <a href='#/freelancer/{{list.dni}}' class="btn btn-default btn-lg btn-block buttonDetails">Details</a> -->
							<h4>{{list}}</h4>
					
						<i class="fa fa-plus"></i>
						<div class="clearfix"></div>
						</div>

					</a>
					<p></p>
				</div>
			</div>
			
			<div class="clearfix"> </div>
			<!--<div data-ng-show="loading">Loading...</div>-->
			<!--<button type="submit" ng-click="more()" style="margin-left:880px;">Load more</button>-->
			<div id="container">
				<div id="contact-box">
					<ul id="messages-list"></ul>
				</div>
			</div>
			

		</div>
	</div>
</div>
