<div class="container">
	<div ng-repeat="item in users" style="margin-left: 300px;">
		<table>
			<tr>
				<td ng-if="$index == 0"><img src="/freelancer/backend/media/medalla_gold.png" height="50" width="50"></td>
				<td ng-if="$index == 1"><img src="/freelancer/backend/media/medalla_plata.png" height="50" width="50"></td>
				<td ng-if="$index == 2"><img src="/freelancer/backend/media/medalla_brounce.png" height="50" width="50"></td>
				<td ng-if="$index >= 3"><img src="/freelancer/backend/media/medal_participate.png" height="50" width="50"></td>
				<td>
					<img src="{{item.avatar}}" height="100" width="100" class="img-circle img-responsive" style="margin-left: 100px;">
				</td>
				<td>
					<h4 style="margin-left: 100px;">{{item.name}}</h4>
				</td>
				<td>
					<h4 style="margin-left: 100px;" class="label label-success">{{item.points}} points</h4>
				</td>
			</tr>
		</table>
		<br>
	</div>
</div>