<script src="<?php echo JS_PATH ?>dropzone.js"></script>
<script src="<?php echo PROFILE_JS_PATH ?>profile.js"></script>
<script type="text/javascript" src="<?php echo PROFILE_JS_PATH ?>update.js"></script>

  <!-- MAIN PAGE CONTENT AREA -->
 <div class="site-panel" style="margin-top:110px">
    <div class="container">
        <div class="row">
                <div class="col-md-3 well hidden-xs">
                    <div class= "sidebar">
                        <div class="list-group">
						  <a href="#" class="list-group-item active">Mis Datos</a>
						  <a href="#" class="list-group-item">Mi Avatar</a>
						  <a href="#" class="list-group-item">My Interests</a>
						  <a href="#" class="list-group-item">My Bids</a>
						  <a href="#" class="list-group-item">My Liftings</a>
						  <a href="#" class="list-group-item">My Documents</a>
						  <a href="#" class="list-group-item">Bidding History</a>
						  <a href="#" class="list-group-item">My Payments</a>
						</div> 
                    </div>
                </div>
                <div class="col-md-9 ">
                    <div class= "content-box well">
                     	<legend>MY PROFILE  </legend>

						<div class="container">
							<div class="row">
								<div class="col-md-6">
								    <div class=" clearfix">
								        
								        <form id="formClient">
								        	<div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
								            <input id="dni" type="text" class="form-control" name="dni" value="" placeholder="dni"></div>
								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								            <input id="name" type="text" class="form-control" name="name" value="" placeholder="name"></div>
								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								            <input id="last_name" type="text" class="form-control" name="last_name" value="" placeholder="last name"></div>
								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								            <input id="birthday" type="text" class="form-control" name="date" value="" placeholder="birthday date"></div>
								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								            <input id="expirationDni" type="text" class="form-control" name="expirationDni" value="" placeholder="expiration dni"></div>
								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
								            <input id="email" type="text" class="form-control" name="email" value="" placeholder="email"></div>
								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
								            <input id="phone" type="text" class="form-control" name="phone" value="" placeholder="phone"></div>
								    
								            <div class="form-group">
						                        <label class="w3ls-opt">Community:</label><br />
						                        <select class="combo" name="community" id="community"></select>
						                    </div>
						                    <br />
						                    <div class="form-group">
						                        <label class="w3ls-opt">Province:</label><br />
						                        <select class="combo" name="province" id="province"></select>
						                    </div>
						                    <br />
						                    <div class="form-group">
						                        <label class="w3ls-opt">City:</label><br />
						                        <select class="combo" name="city" id="city"></select>
						                    </div>
						                    <br />

								            <div style="margin-bottom: 25px" class="input-group">
								              <fieldset>
											    <h4>Select Languages: </h4>
											    <span class="button-checkbox">
											        <button type="button" class="btn" data-color="primary">Español</button>
											        <input type="checkbox" id="hidden1" class="hidden" value="Español" name="hidden" />
											    </span>
											    <span class="button-checkbox">
											        <button type="button" class="btn" data-color="primary">Ingles</button>
											        <input type="checkbox" id="hidden2" class="hidden" value="Ingles" name="hidden"/>
											    </span>
											    <span class="button-checkbox">
											        <button type="button" class="btn" data-color="primary">Frances</button>
											        <input type="checkbox" id="hidden3" class="hidden" value="Frances" name="hidden"/>
											    </span>
											    <span class="button-checkbox">
											        <button type="button" class="btn" data-color="primary">Italiano</button>
											        <input type="checkbox" id="hidden4" class="hidden" value="Italiano" name="hidden"/>
											    </span>
											  </fieldset></div>
											  
											  <h4>Avatar: </h4>
											  <div class="msg"></div>
											  <div id="dropzone" style="margin-bottom: 25px"></div>
								            <button type="button" class="btn btn-success" id="Client">Registrar</button>
								        </form>
										
										<form id="formClient_update">
											<div id="avatar" style='margin-left:280px;margin-bottom: 20px;'></div>
								        	<div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
								            <input id="dni_update" type="text" class="form-control" name="dni" value="" placeholder="dni"></div>
								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								            <input id="name_update" type="text" class="form-control" name="name" value="" placeholder="name"></div>
								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								            <input id="last_name_update" type="text" class="form-control" name="last_name" value="" placeholder="last name"></div>
								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								            <input id="birthday_update" type="text" class="form-control" name="date" value="" placeholder="birthday date"></div>
								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								            <input id="expirationDni_update" type="text" class="form-control" name="expirationDni" value="" placeholder="expiration dni"></div>
								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
								            <input id="email_update" type="text" class="form-control" name="email" value="" placeholder="email"></div>
								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
								            <input id="phone_update" type="text" class="form-control" name="phone" value="" placeholder="phone"></div>
								    
								            <div class="form-group">
						                        <label class="w3ls-opt">Community:</label><br />
						                        <select class="combo" name="community" id="community_update"></select>
						                    </div>
						                    <br />
						                    <div class="form-group">
						                        <label class="w3ls-opt">Province:</label><br />
						                        <select class="combo" name="province" id="province_update"></select>
						                    </div>
						                    <br />
						                    <div class="form-group">
						                        <label class="w3ls-opt">City:</label><br />
						                        <select class="combo" name="city" id="city_update"></select>
						                    </div>
						                    <button type="button" class="btn btn-success" id="update_ubication" style='margin-left:280px;margin-bottom: 20px;'>Update Ubication</button>
						                    <br />

								            <div style="margin-bottom: 25px" class="input-group">
								            	<input type="checkbox" id="Español" name="checkboxs" class="checkboxs" value="Español">Español
								            	<input type="checkbox" id="Ingles" name="checkboxs" class="checkboxs" value="Ingles">Ingles
								            	<input type="checkbox" id="Frances" name="checkboxs" class="checkboxs" value="Frances">Frances
								            	<input type="checkbox" id="Italiano" name="checkboxs" class="checkboxs" value="Italiano">Italiano
								            </div>
											  
											  <h4>Avatar: </h4>
											  <div class="msg"></div>
											  <div id="dropzone" class="dropzone2" style="margin-bottom: 25px"></div>
								            <button type="button" class="btn btn-success" id="Client_update">Update</button>
								        </form>

								       	<form id="formAutonomo" >
								       		<div id="inputDni" style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
           									<input id="dni_free" type="text" class="form-control" name="dni" value="" placeholder="dni"></div>
								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								            <input id="name_free" type="text" class="form-control" name="name" value="" placeholder="name"></div>
								            <div id="inputLastName" style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								            <input id="last_name_free" type="text" class="form-control" name="last_name" value="" placeholder="last name"></div>
								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								            <input id="birthday_free" type="text" class="form-control" name="birthday_free" value="" placeholder="birthday date"></div>
								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								            <input id="date_up_free" type="text" class="form-control" name="date" value="" placeholder="date up"></div>
								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
								            <input id="email_free" type="text" class="form-control" name="email" value="" placeholder="email"></div>
								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
								            <input id="phone_free" type="text" class="form-control" name="phone" value="" placeholder="phone"></div>
								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-eur"></i></span>
								            <input id="price_free" type="text" class="form-control" name="price" value="" placeholder="price/h"></div>
								            <div class="form-group">
						                        <label class="w3ls-opt">Community:</label><br />
						                        <select class="combo" name="community" id="community_free"></select>
						                    </div>
						                    <br />
						                    <div class="form-group">
						                        <label class="w3ls-opt">Province:</label><br />
						                        <select class="combo" name="province" id="province_free"></select>
						                    </div>
						                    <br />
						                    <div class="form-group">
						                        <label class="w3ls-opt">City:</label><br />
						                        <select class="combo" name="city" id="city_free"></select>
						                    </div>
						                    <br />
								            <div style="margin-bottom: 25px" class="input-group">
								              <fieldset>
											    <h4>Select Languages: </h4>
											    <label for="checkbox-1">Español</label>
											    <input type="checkbox" id="checkbox-1" name="checkbox" class="checkbox" value="Español">
											    <label for="checkbox-2">Ingles</label>
											    <input type="checkbox" id="checkbox-2" name="checkbox" class="checkbox" value="Ingles">
											    <label for="checkbox-3">Frances</label>
											    <input type="checkbox" id="checkbox-3" name="checkbox" class="checkbox" value="Frances">
											    <label for="checkbox-4">Italiano</label>
											    <input type="checkbox" id="checkbox-4" name="checkbox" class="checkbox" value="Italiano">
											  </fieldset></div>
								            <h4>Select professional category: </h4>
								            <select id="cat_prof" style="margin-bottom: 25px"></select><br/>
								            <h4 id="titleMatters">Select your matters: </h4>

								            <div id="matters" style="margin-bottom: 25px"></div>
								            <h4 id="titleSpecialist">Select your specialty: </h4>

								            <div id="specialist" style="margin-bottom: 25px" ></div>

								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
								            <textarea id="proyect" type="text" class="form-control" name="projects" value="" placeholder="Projects" cols="30" rows="5"></textarea></div>
								            <h4>Select your avatar: </h4>
								            <div class="msg"></div>
											<div id="dropzone" class="dropzone1" style="margin-bottom: 25px"></div>
								            <button type="button" class="btn btn-success" id="Freelancer" style="margin-bottom: 50px">Registrar</button>
								        </form>

								        <form id="formAutonomo_update" >
								        	<div id="avatar_free" style='margin-left:280px;margin-bottom: 20px;'></div>
								       		<div id="inputDni" style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
           									<input id="dni_free_update" type="text" class="form-control" name="dni" value="" placeholder="dni"></div>
								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								            <input id="name_free_update" type="text" class="form-control" name="name" value="" placeholder="name"></div>
								            <div id="inputLastName" style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								            <input id="last_name_free_update" type="text" class="form-control" name="last_name" value="" placeholder="last name"></div>
								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								            <input id="birthday_free_update" type="text" class="form-control" name="birthday_free" value="" placeholder="birthday date"></div>
								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								            <input id="date_up_free_update" type="text" class="form-control" name="date" value="" placeholder="date up"></div>
								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
								            <input id="email_free_update" type="text" class="form-control" name="email" value="" placeholder="email"></div>
								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
								            <input id="phone_free_update" type="text" class="form-control" name="phone" value="" placeholder="phone"></div>
								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-eur"></i></span>
								            <input id="price_fre_updatee" type="text" class="form-control" name="price" value="" placeholder="price/h"></div>
								            <div class="form-group">
						                        <label class="w3ls-opt">Community:</label><br />
						                        <select class="combo" name="community" id="community_free_update"></select>
						                    </div>
						                    <br />
						                    <div class="form-group">
						                        <label class="w3ls-opt">Province:</label><br />
						                        <select class="combo" name="province" id="province_free_update"></select>
						                    </div>
						                    <br />
						                    <div class="form-group">
						                        <label class="w3ls-opt">City:</label><br />
						                        <select class="combo" name="city" id="city_free_update"></select>
						                    </div>
						                    <button type="button" class="btn btn-success" id="update_ubication_free" style='margin-left:280px;margin-bottom: 20px;'>Update Ubication</button>
						                    <br />
						                    <h4>Select language: </h4>
								            <div style="margin-bottom: 25px" class="input-group">
								            	<input type="checkbox" id="Español" name="checkboxs_free" class="checkboxs_free" value="Español">Español
								            	<input type="checkbox" id="Ingles" name="checkboxs_free" class="checkboxs_free" value="Ingles">Ingles
								            	<input type="checkbox" id="Frances" name="checkboxs_free" class="checkboxs_free" value="Frances">Frances
								            	<input type="checkbox" id="Italiano" name="checkboxs_free" class="checkboxs_free" value="Italiano">Italiano
								            </div>
								            <h4>Select professional category: </h4>
								            <select id="cat_prof_update" style="margin-bottom: 25px"></select><br/>
								            <h4 id="titleMatters">Select your matters: </h4>

								            <div id="matters_update" style="margin-bottom: 25px"></div>
								            
								            <h4 id="titleSpecialist">Select your specialty: </h4>

								            <div id="specialist_update" style="margin-bottom: 25px" ></div>

								            <div style="margin-bottom: 25px" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
								            <textarea id="proyect" type="text" class="form-control" name="projects" value="" placeholder="Projects" cols="30" rows="5"></textarea></div>
								            <h4>Select your avatar: </h4>
								            <div class="msg"></div>
											<div id="dropzone" class="dropzone1" style="margin-bottom: 25px"></div>
								            <button type="button" class="btn btn-success" id="Freelancer_update" style="margin-bottom: 50px">Update</button>
								        </form>

								       <div class="col-md-12 text-center " id="buttonsform">
								            <div class="row">
								                <div class="col-md-4 stats-box">
								                    <button type="button" class="btn btn-info" id="btnClient">Create Client</button>
								                </div>
								                <div class="col-md-4 stats-box ">
								                    <button type="button" class="btn btn-info" id="btnAutonmo">Create Freelancer</button>
								                </div>
								            </div> 
								        </div>
								    </div>
								    	
								</div>

							</div>

						</div>
          
                    </div>
			    </div>
			        </div>
			    </div>
			 </div>

