<div class="container">
    <form id="changepass_form" name="changepass_form">
        <br />
        <div class="form-title"><h2 class="form-contact-heading">Cambia su password</h2></div>
        <p>Por favor introduce su nueva contraseña.</p>

        <div style="margin-bottom: 25px; width: 550px;" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input required ng-model="changepass.inputPassword" type="password" id="inputPassword" name="inputPassword" placeholder="Password" maxlength="100">
        </div>
        <p>
            <span class="text-danger" ng-show="changepass_form.inputPassword.$error.required && (changepass_form.inputPassword.$dirty || changepass_form.inputPassword.$touched)">El campo es obligatorio</span>
        </p>
        <div style="margin-bottom: 25px; width: 550px;" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input required ng-model="changepass.inputPassword2" type="password" id="inputPassword2" name="inputPassword2" placeholder="Repite tu Password" maxlength="100">
        </div>
        <p>
            <span class="text-danger" ng-show="changepass_form.inputPassword2.$error.required && (changepass_form.inputPassword2.$dirty || changepass_form.inputPassword2.$touched)">El campo es obligatorio</span>
        </p>

        <input class="btn btn-primary" type="button" name="submit" id="changeBtn" value="Enviar" 
        ng-show="changepass_form.inputPassword.$valid && changepass_form.inputPassword2.$valid && changepass.inputPassword === changepass.inputPassword2" ng-click="SubmitChangePass()"/>

    </form>
</div>