<md-dialog aria-label="Login" style="height: 680px; width: 680px;">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Login</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="glyphicon glyphicon-remove" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" ng-controller="modal_controller">
        <h2 align="center">Login social network</h2>
          <md-button style="margin-left: 123px;" ng-click='log_fb()'>
            <button type="button" class="btn btn-fb"><i class="fa fa-facebook pr-1"></i> Facebook</button>
          </md-button>
          <md-button ng-click='log_tw()'>
            <button type="button" class="btn btn-tw"><i class="fa fa-twitter pr-1"></i> Twitter</button>
          </md-button>
          <md-button ng-click='log_google()'>
            <button type="button" class="btn btn-tw"><i class="fa fa-google pr-1"></i> Google</button>
          </md-button><br><br>
      </div>
    </md-dialog-content>
  </form>

  <md-dialog-content ng-controller="signup_controller">
    <div style="margin-left: 40px;">
      <form id="login_form" name="login_form" class="form-contact" ng-show="login">
        <h2 align="center">Login manual</h2><br>
        <div style="margin-bottom: 25px; width: 550px;" class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input required type="text" id="user" name="user" ng-model="log.user" placeholder="Usuario" maxlength="100" class="form-control">
        </div>
        <div style="margin-bottom: 25px; width: 550px;" class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input required type="password" id="pass" name="pass" ng-model="log.pass" placeholder="Contraseña" maxlength="100" class="form-control">
           
        </div>
        <p>
          <span class="text-danger" ng-show="error_passwd"> {{errorpass}}</span>
          <span class="text-danger" ng-show="error_name"> {{errorname}}</span>
        </p>    
        <input type="submit" class="btn btn-success" name="submitLog" id="submitLog" ng-click="SubmitLogin()" ng-show="login_form.user.$valid && login_form.pass.$valid" value="Sign In" />
      </form>
    </div>
    <br><br>
    <!-- recovery passwd -->
    <div style="margin-left: 40px;">
      <form id="change_passwd_form" name="change_passwd_form" class="form-contact" ng-show="recovery">
        <h2 align="center">Recovery Password</h2><br>
        <div style="margin-bottom: 25px; width: 550px;" class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <input required type="email" id="email" name="email" ng-model="change.email" placeholder="email" maxlength="100" class="form-control">
        </div>
        <p>
          <span class="text-danger" ng-show="error_email"> {{erroremail}}</span>
        </p>    
        <input type="submit" class="btn btn-success" name="submitLog" id="submitLog" ng-click="SubmitChange()" ng-show="change_passwd_form.email.$valid" value="Submit" />
      </form>
    </div>
    <!-- recovery passwd -->

    <button type="button" ng-click="showRegist()" ng-show="btn_regist" style="margin-left: 233px;" class="btn">Aun no estas registrado?</button>
    <button type="button" ng-click="showChangePasswd()" ng-show="btn_recovery" style="margin-left: 233px;" class="btn">Ha olvidado su contraseña?</button>

    <div style="margin-left: 40px;" ng-show="regist">
      <h2 align="center">Register manual</h2>
      <form id="signup_form" name="signup_form" class="form-contact" align="center">
        <br />
        <div class="">
          <div style="margin-bottom: 25px; width: 550px;" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input required ng-model="signup.inputUser" type="text" id="inputUser" name="inputUser" ng-pattern="/^.{4,20}$/"
            placeholder="Usuario" dir="auto" maxlength="100" ng-change="change_signup()" class="form-control">
          </div>
          <p>
            <span class="text-danger" ng-show="signup_form.inputUser.$error.required && (signup_form.inputUser.$dirty || signup_form.inputUser.$touched)">El campo es obligatorio</span>
            <span class="text-danger" ng-show="signup_form.inputUser.$error.pattern">Usuario no válido</span>
            <span class="text-danger" ng-show="AlertMessage" ng-model="signup.user_error">{{signup.user_error}}</span>
          </p>
        </div>
        <div class="">
          <div style="margin-bottom: 25px; width: 550px;" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input required ng-model="signup.inputEmail" type="email" id="inputEmail" name="inputEmail"
              placeholder="Email" maxlength="100" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i" ng-change="change_signup()" class="form-control">
          </div>
          <p>
            <span class="text-danger" ng-show="signup_form.inputEmail.$error.required && (signup_form.inputEmail.$dirty || signup_form.inputEmail.$touched)">El campo es obligatorio</span>
            <span class="text-danger" ng-show="signup_form.inputEmail.$error.email">Email no valido</span>
            <span class="text-danger" ng-show="AlertMessage" ng-model="signup.email_error">{{signup.email_error}}</span>
          </p>
        </div>
        <div class="">
          <div style="margin-bottom: 25px; width: 550px;" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input required ng-model="signup.inputPass" type="password" id="inputPass" name="inputPass" ng-pattern="/^.{6,12}$/"
            placeholder="Contraseña" dir="auto" maxlength="100" ng-change="change_signup()" class="form-control">
          </div>
          <p>
            <span class="text-danger" ng-show="signup_form.inputPass.$error.required && (signup_form.inputPass.$dirty || signup_form.inputPass.$touched)">El campo es obligatorio</span>
            <span class="text-danger" ng-show="signup_form.inputPass.$error.pattern">Passwd no válido</span>
            <span class="text-danger" ng-show="AlertMessage" ng-model="signup.pass_error">{{signup.pass_error}}</span>
          </p>
        </div>
        <div class="">
          <div style="margin-bottom: 25px; width: 550px;" class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input required ng-model="signup.inputPass2" type="password" id="inputPass2" name="inputPass2"
              placeholder="repeat password" dir="auto" maxlength="100" ng-change="change_signup()" class="form-control">
          </div>
          <p>
            <span class="text-danger" ng-show="signup_form.inputPass2.$error.required && (signup_form.inputPass2.$dirty || signup_form.inputPass2.$touched)">El campo es obligatorio</span>
            <span class="text-danger" data-ng-show="signup.inputPass !== signup.inputPass2"> Password do not match</span>
          </p>
        </div>
        <input type="hidden" name="token" value="signup_form" />
        <span class="text-danger" ng-show="exist">Este usuario ya existe</span>
    </div>
        <div class="">
          <md-button ng-click="SubmitSignUp()" style="margin-left: 40px;">        
            <button type="button" class="btn btn-success" ng-show="signup_form.inputUser.$valid && signup_form.inputEmail.$valid && signup_form.inputPass.$valid && signup_form.inputPass2.$valid  && signup.inputPass === signup.inputPass2" style="width: 200px;">Submit</button>
          </md-button>                  
        </div>                  
      </form>
        </div>        
      </div> 
  </md-dialog-content>
</md-dialog>



