	<link rel="stylesheet" href="frontend/module/admin/view/css/main.css">
	<link rel="stylesheet" href="frontend/module/admin/view/css/style_admin.css">
	<link rel="stylesheet" href="frontend/module/admin/view/css/chartist.css">
	
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- LEFT SIDEBAR -->
		<div id="" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="#/admin" class=""><i class="glyphicon glyphicon-home"></i> <span>Dashboard</span></a></li>
						<li><a href="#/admin/control_user" class=""><i class="glyphicon glyphicon-folder-open"></i> <span>Control Users</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content" style="margin-right:130px;">
				<div class="container-fluid">
					<p style="font-size: 50px;" align="center">CONTROL USERS</p>
					<div class="row">
						<div class="col-md-12" style="margin-left: 100px;">
							<!-- RECENT PURCHASES -->
							<div class="panel">
								<div class="panel-heading">
									<!-- <h3 class="panel-title">STATUS USER</h3> -->
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
									</div>
								</div>
								<div class="panel-body no-padding">
									<table class="table table-striped">
										<div style="margin-bottom: 25px" class="input-group">
								            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
								            <input type="text" ng-model="filtro" placeholder="search user">
								        </div>
										<thead>
											<tr>
												<th>Id_user</th>
												<th>Name</th>
												<th>Email</th>
												<th>Date</th>
												<th>Status</th>
												<th>Accion</th>
											</tr>
										</thead>
										<!-- filter:{ id_user:filtro } -->
										<tbody ng-repeat="item in users| filter:filtro">
											<tr>
												<td>{{item.id_user}}</td>
												<td>{{item.name}}</td>
												<td>{{item.email}}</td>
												<td>{{item.date}}</td>
												<td>
													<span ng-if="item.activate==1" class="label label-success" >ACTIVATE</span>
													<span ng-if="item.activate==0" class="label label-warning" >PENDING</span>
													<span ng-if="item.activate==2" class="label label-danger" >LOCKED</span>
												</td>
												<td>
													<button type="submit" class="label label-danger" ng-click="submit_lock(item.id_user)">LOCK USER</button>
													<button type="submit" class="label label-warning" ng-click="submit_unlock(item.id_user)">UNLOCK USER</button>
													<button type="submit" class="label label-danger" ng-click="submit_delete(item.id_user)"><i class="glyphicon glyphicon-trash" style="color:white;"></i></button>
												</td>

											</tr>
											
										</tbody>
									</table>
								</div>
								<div class="panel-footer">
									<div class="row">
										
									</div>
								</div>
							</div>
							<!-- END RECENT PURCHASES -->
						</div>
						
					</div>
					
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="frontend/module/admin/view/js/jquery.min.js"></script>
	<script src="frontend/module/admin/view/js/bootstrap.min.js"></script>
	<script src="frontend/module/admin/view/js/jquery-slimScroll.min.js"></script>
	<script src="frontend/module/admin/view/js/jquery-easycheart.min.js"></script>
	<script src="frontend/module/admin/view/js/chartist.min.js"></script>
	<script src="frontend/module/admin/view/js/klorofil-common.js"></script>
	

