	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="frontend/module/admin/view/css/main.css">
	<link rel="stylesheet" href="frontend/module/admin/view/css/style_admin.css">
	<link rel="stylesheet" href="frontend/module/admin/view/css/chartist.css">

	
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- LEFT SIDEBAR -->
		<div id="" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="#/admin" class=""><i class="glyphicon glyphicon-home"></i> <span>Dashboard</span></a></li>
						<li><a href="#/admin/control_user" class=""><i class="glyphicon glyphicon-folder-open"></i> <span>Control Users</span></a></li>
						
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content" style="">
				<div class="container-fluid">
					<p style="font-size: 50px;" align="center">DASHBOARD ADMIN</p>
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">Weekly Overview</h3>
							<!-- <p class="panel-subtitle">Period: Oct 14, 2016 - Oct 21, 2016</p> -->
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-3">
									<div class="metric">
										<span class="icon"><i class="fa fa-shopping-bag"></i></span>
										<p>
											<span class="number">{{total_freelancer}}</span>
											<span class="title">Total freelancer</span>
										</p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="metric">
										<span class="icon"><i class="fa fa-eye"></i></span>
										<p>
											<span class="number">{{total_visitors}}</span>
											<span class="title">Total visits</span>
										</p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="metric">
										<span class="icon"><i class="fa fa-user"></i></span>
										<p>
											<span class="number">{{total_clients}}</span>
											<span class="title">Total clients</span>
										</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-9">
									<div id="headline-chart" class="ct-chart"></div>
								</div>
								
							</div>
						</div>
					</div>
					
						
						
						
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="frontend/module/admin/view/js/jquery.min.js"></script>
	<script src="frontend/module/admin/view/js/bootstrap.min.js"></script>
	<script src="frontend/module/admin/view/js/jquery-slimScroll.min.js"></script>
	<script src="frontend/module/admin/view/js/jquery-easycheart.min.js"></script>
	<script src="frontend/module/admin/view/js/chartist.min.js"></script>
	<script src="frontend/module/admin/view/js/klorofil-common.js"></script>

