<!-- footer -->
<div class="footer_top_agileits">
	<div class="container-fluid">
		<div class="col-md-3 footer_grid">
			<h3>About Us</h3>
			<p>Sagittis quis turpis vel, facilisis posuere erat. Nulla facilisi. Proin vel commodo leo. Ut mauris tortor, cursus ut massa vitae, iaculis vehicula turpis. Nam libero tempore cum vulputate id posuere erat.</p>
			<div class="read">
				<a href="about.html">Read more »</a>
			</div>
		</div>
		<div class="col-md-3 footer_grid">
			<h3>Latest News</h3>
			<ul class="footer_grid_list">
				<li><i class="fa fa-chevron-right" aria-hidden="true"></i>
					<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque vulputate </a>
				</li>
				<li><i class="fa fa-chevron-right" aria-hidden="true"></i>
					<a href="#" data-toggle="modal" data-target="#myModal">Dolor amet sed quam vitae</a>
				</li>
				<li><i class="fa fa-chevron-right" aria-hidden="true"></i>
					<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque, vulputate </a>
				</li>
				<li><i class="fa fa-chevron-right" aria-hidden="true"></i>
					<a href="#" data-toggle="modal" data-target="#myModal">Dolor amet sed quam vitae</a>
				</li>
				<li><i class="fa fa-chevron-right" aria-hidden="true"></i>
					<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque, vulputate </a>
				</li>
			</ul>
		</div>
		<div class="col-md-3 footer_grid">
			<h3>Contact Info</h3>
			<ul class="address">
				<li><i class="fa fa-map-marker" aria-hidden="true"></i>3241 USA, Collection building, <span>New York City.</span></li>
				<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
				<li><i class="fa fa-phone" aria-hidden="true"></i>+0123 2279 3241</li>
				<li><i class="fa fa-globe" aria-hidden="true"></i><a href="#">info@website.com</a></li>
			</ul>
		</div>
		<div class="col-md-3 footer-grid_agileits_w3 footer_grid">
				<h3>Recent Works</h3>
			<div class="footer-list">
				<div class="flickr-grid">
					<a href="#"><img src="media/p1.jpg" alt=" " ></a>
				</div>
				<div class="flickr-grid">
					<a href="#"><img src="media/p2.jpg" alt=" "></a>
				</div>
				<div class="flickr-grid">
					<a href="#"><img src="media/p3.jpg" alt=" " ></a>
				</div>
				<div class="flickr-grid">
					<a href="#"><img src="media/p4.jpg" alt=" "></a>
				</div>
				<div class="flickr-grid">
					<a href="#"><img src="media/p5.jpg" alt=" "></a>
				</div>
				<div class="flickr-grid">
					<a href="#"><img src="media/p6.jpg" alt=" "></a>
				</div>
				<div class="flickr-grid">
					<a href="#"><img src="media/p1.jpg" alt=" "></a>
				</div>
				<div class="flickr-grid">
					<a href="#"><img src="media/p2.jpg" alt=" "></a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<div class="footer_w3ls">
	<div class="container">
		<div class="footer_bottom1">
			<p>© 2018 Corporation. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a> and developed by <a href="<?php amigable('?module=home&function=developer'); ?>">Joan Montés Doria</a></p>
		</div>
	</div>
</div>

<!-- //footer -->

<!-- js JS_PATH -->
	<!--<script type="text/javascript" src="frontend/assets/js/jquery-2.1.4.min.js"></script>-->
	<script type="text/javascript" src="frontend/assets/js/bootstrap-3.1.1.min.js"></script>
	
	<!-- stats -->
	<script src="frontend/assets/js/jquery.waypoints.min.js"></script>
	<script src="frontend/assets/js/jquery.countup.js"></script>
	<script>
		$('.counter').countUp();
	</script>
	<!-- //stats -->

	<!--datepicker bootstrap-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>-->
    <!--end datepicker bootstrap-->

  <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
  

	<!-- owl carousel -->
	<!--<script src="frontend/assets/js/owl.carousel.js"></script>
	<script>
		$(document).ready(function () {
			$("#owl-demo").owlCarousel({

				autoPlay: 3000, //Set AutoPlay to 3 seconds
				autoPlay: true,
				items: 3,
				itemsDesktop: [991, 2],
				itemsDesktopSmall: [414, 4]

			});
		}); 
	</script>-->
	<!-- //owl carousel -->
	
	<!-- Responsive slider  -->
	<!--<script src="frontend/assets/js/responsiveslides.min.js"></script>
	<script>
		$(function () {
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: true,
				speed: 1000,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});
		});
	</script>-->
	<!-- //Responsive slider  -->
	<script src="frontend/assets/js/dropzone.js"></script>
	<!-- Flex slider-script -->
	<!--<script defer src="frontend/assets/js/jquery.flexslider.js"></script>
		<script type="text/javascript">
		
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	  </script>-->
	<!-- //Flex slider-script -->
	
	<!-- start-smooth-scrolling -->
	<script src="frontend/assets/js/move-top.js"></script>
	<script src="frontend/assets/js/easing.js"></script>
	<!--<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>-->
	<!-- //end-smooth-scrolling -->
	
	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->
	
	<!-- smooth scrolling js -->
	<script src="frontend/assets/js/SmoothScroll.min.js"></script>
	<!-- //smooth scrolling js -->
	<!-- amaran toaster -->
    <script src="<?php echo LIB_PATH ?>amaran/dist/js/jquery.amaran.js"></script>
    <link href="<?php echo LIB_PATH ?>amaran/dist/css/amaran.min.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo LIB_PATH ?>amaran/dist/css/animate.min.css" rel="stylesheet" type="text/css" />
    <script src="frontend/assets/js/amaran.js"></script>
    <!--end amaran toaster-->

</body>
</html>