<!-- header -->
<div class="header">
	<div class="agileits_top_menu">
		<div class="container">
			<div class="w3l_header_left">
				<ul>
					<li><i class="fa fa-phone" aria-hidden="true"></i> +34 624 046 466</li>
					<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">info@freelancer.com</a></li>
					<li><i class="" aria-hidden="true"></i>© 2018 Classified Media Spain, S.L.</li>
				</ul>

			</div>
			<!-- modal login ng-controller="UserService" -->
			<div class="w3l_header_right" >
				<div class="w3ls-social-icons text-left">
					<div ng-controller="modal_controller" ng-cloak md-theme="{{theme}}" >
						<md-button class="md-primary md-raised" ng-click="showAdvanced($event)" ng-show="login">Login/Register</md-button>
						<md-button class="md-primary md-raised" ng-click="log_out()" ng-show="logout">Logout</md-button>
					</div>
				</div>
			</div>
			<!-- modal login -->
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- alertbanner -->
	<div ng-controller="banner_controller">
		<div id="alertbanner" ng-show="bannerV"><a  ng-class='bannerClass'>{{bannerText}}</a></div>
	</div>
	<div class="content white agile-info">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

					<a class="navbar-brand" href="#/">
						<h1>Freelancer</h1>
					</a>
				</div>
				<!--/.navbar-header -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="mainController">
					<nav>
						<ul class="nav navbar-nav">
							<li id="home" class="{{active_home}}"><a href="#/">Home</a></li>
							<li id="profile" class="{{active_profile}}" ng-show="profile"><a href="#/profile">Profile</a></li>
							<li id="" class="{{active_admin}}" ng-show="admin"><a href="#/admin">Admin</a></li>
							<li id="" class="{{active_forum}}" ng-show="forum"><a href="#/forum">Forum</a></li>
							<li id="" class="{{active_top_users}}" ng-show="top_users"><a href="#/top_users">Top Users</a></li>
							<li class="{{active_freelancer}}"><a href="#/freelancer" ng-show="freelancer">Freelancer</a></li>
							<li class="{{active_contact}}"><a href="#/contact">Contact</a></li>
							<li id="avatar">
								<img src="{{avatar}}" height="60" width="60" ng-show="prof_avatar" class="img-circle img-responsive">
								<p align="center" ng-show="prof_name">{{nombre}}</p>
							</li>
							
						</ul>
					</nav>
				</div>

				</div>
				
			</div>
		</nav>
	</div>
</div>

<!-- breadcrumb -->
<div class="banner" ng-show="breadcrumb">
 	<h2>{{breadcrumb_function}}</h2>
	<p>
		<a href='https://localhost/freelancer/#/'>Main »</a>
		<a href='{{breadcrumb_href}}'>{{breadcrumb_module}} »</a>{{breadcrumb_function}}
	</p>
</div>
<!-- breadcrumb -->
