<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
	
<!-- contact -->
<script src="frontend/module/contact/view/lib/bootstrap-button.js"></script>
<!--<script type="text/javascript" src="<?php echo CONTACT_JS_PATH ?>contact.js" ></script>-->
<section class="contact" id="contact">
	<div class="container">
		<div class="contact-heading">
			<h3 class="heading">Contact us</h3>
		</div>
		<div class="contact-grids">
			<div class=" col-md-5 contact-form">
			<h4 class="heading">Free consulting</h4>
				
				<form id="contact_form" name="contact_form" class="form-contact">
			      	<span class="">
						<label  for="inputName">
				          <span data-content="Name">Name</span>
				        </label>
			        	<input required ng-model="contact.inputName" type="text" id="inputName" name="inputName" placeholder="" class="" dir="auto" maxlength="100">
			        
			        	<span class="text-danger" ng-show="contact_form.inputName.$error.required && (contact_form.inputName.$dirty || contact_form.inputName.$touched)">The name is required</span>

			      	</span>

			      	<span class="">
			      		<label class="" for="inputEmail">
				         	<span class="" data-content="Email">Email</span>
				        </label>
				        <input required ng-model="contact.inputEmail" type="email" id="inputEmail" name="inputEmail" placeholder="" class="" maxlength="100" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i">

				        <span class="text-danger" ng-show="contact_form.inputEmail.$error.required && (contact_form.inputEmail.$dirty || contact_form.inputEmail.$touched)">The email is required</span>
				        <span class="text-danger" ng-show="contact_form.inputEmail.$error.email">The email is not valid</span>

			      	</span>

			      	<span class="">
			      		<label class="" for="inputSubject">
				        	<span class="" data-content="Subject">Subject</span>
				        </label>
				        <input required ng-model="contact.inputSubject" type="text" id="inputSubject" name="inputSubject" placeholder="" class="" dir="auto" maxlength="100">
				        
				        <span class="text-danger" ng-show="contact_form.inputSubject.$error.required && (contact_form.inputSubject.$dirty || contact_form.inputSubject.$touched)">The subject is required</span>
			      	</span>

			       	<textarea required ng-model="contact.inputMessage" rows="4" id="inputMessage" name="inputMessage" placeholder="Your comment here..." style="max-width: 100%;" dir="auto"></textarea>
			        
			        <span class="text-danger" ng-show="contact_form.inputMessage.$error.required && (contact_form.inputMessage.$dirty || contact_form.inputMessage.$touched)">The comment is required</span>

			      	<input class="btn btn-primary" type="submit" name="submit" id="submitBtn" value="Send" ng-show="contact_form.inputName.$valid && contact_form.inputEmail.$valid && contact_form.inputSubject.$valid && contact_form.inputMessage.$valid" ng-click="SubmitContact()"/>

			    </form>
			</div>

			<!-- google maps -->
			<div class=" col-md-7 map">
				<style>
			      #map {
			        height: 400px;
			        width: 100%;
			       }
			    </style>

				<div id="map"></div>
			    <script>
			      function initMap() {
			        var uluru = {lat: 38.820785, lng: -0.610514};
			        var map = new google.maps.Map(document.getElementById('map'), {
			          zoom: 13,
			          center: uluru
			        });
			        var marker = new google.maps.Marker({
			          position: uluru,
			          map: map
			        });
			      }
			    </script>
			    <script async defer
			    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7pK8OLDa9EXwpugryUfoX1-yKoaoJBiE&callback=initMap">
			    </script>

				<div class="col-md-4 contact-grid1">
					<i class="fa fa-map-marker" aria-hidden="true"></i>
					<div class="contact-right">
						<p>Address</p>
						<span>3241 USA, Collection building, <span>New York City.</span></span>
					</div>
				</div>
				<div class="col-md-4 contact-grid1">
					<i class="fa fa-phone" aria-hidden="true"></i>
					<div class="contact-right">
						<p>Phone</p>
						<span>+1(01) 24-212-5665</span>
						<span>+1(01) 24-212-5666</span>
					</div>
				</div>
				<div class="col-md-4 contact-grid1">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					<div class="contact-right">
						<p>Email</p>
						<a href="mailto:info@example.com">info@example.com</a>
						<a href="mailto:info@example1.com">info@example1.com</a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</section>
<!-- //contact -->

<!-- /newsletter-->
	<div class="newsletter_w3layouts_agile">
		<div class="col-sm-6 newsleft">
			<h3>Sign up for Newsletter !</h3>
		</div>
		<div class="col-sm-6 newsright">
			<form action="#" method="post">
				<input type="email" placeholder="Enter your email..." name="email" required="">
				<input type="submit" value="Submit">
			</form>
		</div>

		<div class="clearfix"></div>
	</div>
<!-- //newsletter-->